/*------------^1 global------------*/
* {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: #333;
}

a:hover,
a:active,
a:focus {
  color: #89C310;
}

p {
  margin: 10px 0;
}

blockquote {
  padding-left: 8px;
  background: #f1f1f1;
  border-left: 4px solid #89C310;
}

/*~~ override cube.css styles for code display ~~*/
pre {
  padding: 4px;
  white-space: pre;
}

pre.lineno {
  padding-right: 8px;
}

table th, table td {
  padding: 0;
  border: none;
}
/*~~ override cube.css styles for code display ends ~~*/

.page-wrapper {
  margin: 56px auto 0; /* sync the top margin in main.js*/
  max-width: 620px;
  font-size: 14px;
  background: #fff;
}

.page-wrapper a:link,
.page-wrapper a:visited {
  color: #89C310;
}

.page-wrapper a:hover,
.page-wrapper a:active,
.page-wrapper a:focus {
  color: #107c10;
}
/*------------^1 global ends------------*/

/*------------^2 navigation------------*/
.nav-wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.blur-header {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 36px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.site-nav {
  position: relative;
  margin: 0 auto;
  max-width: 620px;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
}

.site-nav .site-title {
  float: left;
  color: #000;
  font-size: 1.4em;
}

.site-nav-list {
  float: right;
  margin-top: 8px;
}

.site-nav-list-item {
  display: inline-block;
  padding: 0 8px;
  vertical-align: bottom;
}
/*------------^2 navigation ends------------*/

/*------------^3 index page-----------*/
.post-list {

}

.post-list-item {
  margin: 20px 0;
  padding: 6px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.post-title, .post-date {
  display: block;
  width: 100%;
  text-align: center;
}

.post-title {
  font-size: 1.4em;
}

.post-date {
  margin-left: 10px;
  color: #999;
  font-size: 0.9em;
}
/*------------^3 index page ends-----------*/

/*------------^4 post page-----------*/
.post-wrapper {
  padding: 0 8px;
  width: 100%;
}

.post-wrapper ol li {
  list-style-position: inside;
  list-style-type: decimal;
}

.post-wrapper ul li::before {
  content: "\25B8";
  padding: 0 4px;
}

.post-wrapper .poster {
  padding: 6px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
/*------------^4 post page ends-----------*/