---
layout: default
title: 潴頭在綫
---

<ul class="post-list">
  {% for post in site.posts %}
  <li class="post-list-item">
    {% if post.poster %}
    <a href="{{ post.url }}"><div class="poster"><img src="{{ post.poster }}" alt="{{ post.title }}"></div></a>
    {% endif %}
    <!--<a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
    <span class="post-date">{{ post.date | date_to_string }}</span>-->
    {% if post.summary %}
    <p>{{ post.summary }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
