---
layout: default
---
<div class="post-wrapper">
{% if page.poster %}
<div class="poster"><img src="{{ page.poster }}" alt="{{ page.title }}"></div>
{% endif %}

{{content}}
</div>
{% for js in page.customjs %}
<script async type="text/javascript" src="{{ js }}"></script>
{% endfor %}
<!-- utterance.es the comment system based on github issues -->
<script src="https://utteranc.es/client.js"
        repo="kfitfk/kfitfk.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
